html, body {
  margin: 0;
  height: 100%;
}

.rotateBtns {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.rotateBtn {
  padding: 5px 10px;
  font-size: 16px;
  z-index: 10;
  cursor: pointer;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}
